.a-background,
.a-background-top,
.a-background-middle,
.a-background-bottom{
	width: 100%;
}
.charector{
	position: absolute;
	left: 6%;
	/*top: 55%;*/
	bottom: 0;
	width: 151px;
	height: 291px;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	perspective: none;
	-webkit-perspective: none;
	background: url(../images/boy.png) no-repeat -0px -291px transparent;
	
}
.a-background{
	position: absolute;
	height: 100%;
}
.a-background-top{
	height: 71.6%;
	background-image: url(../images/background/a_background_top.png);
	background-size: 100% 100%;
}
.a-background-middle{
	height: 13.1%;
	background-image: url(../images/background/a_background_middle.png);
	background-size: 100% 100%;
}
.a-background-bottom{
	height: 15.3%;
	background-image: url(../images/background/a_background_botton.png);
	background-size: 100% 100%;
}
.slowWalk{
	animation-name: personSlow;  //动画名称
	-webkit-animation-name: personSlow;
	animation-duration: 950ms;   //定义一个动画完成的周期
	-webkit-animation-duration: 950ms;
	animation-iteration-count: infinite;   //循环播放
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: steps(1,start);   //动画切换方式为一帧一帧的改变
	-webkit-animation-timing-function: steps(1,start);
}
.slowFlolerWalk{
	animation-name: person-floler-slow;
	-webkit-animation-name: person-floler-slow;
	animation-duration: 950ms;
	-webkit-animation-duration: 950ms;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: step-start;
	-webkit-animation-timing-function: step-start;
}
.boyOriginal{
	background-position: -150px -0px;
}
/*普通慢走*/
@keyframes personSlow{
	0%{
		background-position: -0px -291px;
	}
	25%{
		background-position: -602px -0px;
	}
	50%{
		background-position: -302px -291px;
	}
	75%{
		background-position: -151px -291px;
	}
	100%{
		background-position: -0px -291px;
	}
}
@-webkit-keyframes personSlow{
	0%{
		background-position: -0px -291px;
	}
	25%{
		background-position: -602px -0px;
	}
	50%{
		background-position: -302px -291px;
	}
	75%{
		background-position: -151px -291px;
	}
	100%{
		background-position: -0px -291px;
	}
}
/*带花*/
@keyframes person-floler-slow{
	0%{
		background-position: -453px -0px;
	}
	25%{
		background-position: -904px -0px;
	}
	50%{
		background-position: -451px -0px;
	}
	75%{
		background-position: -753px -0px;
	}
	100%{
		background-position: -300px -0px;
	}
}
@-webkit-keyframes person-floler-slow{
	0%{
		background-position: -453px -0px;
	}
	25%{
		background-position: -904px -0px;
	}
	50%{
		background-position: -451px -0px;
	}
	75%{
		background-position: -753px -0px;
	}
	100%{
		background-position: -300px -0px;
	}
}
.pauseWalk{
	animation-play-state: paused;  //小男孩暂停样式
	-webkit-animation-play-state: paused;
}
/*小男孩转身*/
.boy-rotate{
	animation-name: boyRotate;
	-webkit-animation-name: boyRotate;
	animation-duration: 850ms;
	-webkit-animation-duration: 850ms;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-timing-function: step-start;
	-webkit-animation-timing-function: step-start;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes boyRotate{
	0%{
		background-position: -603px -291px;
	}
	16.7%{
		background-position: -150px -0px;
	}
	33.4%{
		background-position: -453px -291px;
	}
	50.1%{
		background-position: -0px -0px;
	}
	66.8%{
		background-position: -903px -291px;
	}
	83.5%{
		background-position: -753px -291px;
	}
	100%{
		background-position: -603px -291px;
	}
}
@-webkit-keyframes boyRotate{
	0%{
		background-position: -603px -291px;
	}
	16.7%{
		background-position: -150px -0px;
	}
	33.4%{
		background-position: -453px -291px;
	}
	50.1%{
		background-position: -0px -0px;
	}
	66.8%{
		background-position: -903px -291px;
	}
	83.5%{
		background-position: -753px -291px;
	}
	100%{
		background-position: -603px -291px;
	}
}
.
