#content,
.content-wrap li{
	width: 100%;
}
#content{
	position: absolute;
	/*top: 20%;
	left: 20%;*/
	height: 100%;
	overflow: hidden;
}
.content-wrap{
	position: relative;
}
.content-wrap li{
	position: relative;
	overflow: hidden;
	float: left;
}
.button{
	width: 100px;
	height: 50px;
}
button{
	position: absolute;
	bottom: 0;
}


