#content,
.content-wrap,
.content-wrap li{
	width: 100%;
}
#content{
	position: absolute;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.content-wrap{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 300%;
	display: flex;
	display: -webkit-flex;
}
.content-wrap li{
	position: relative;
	overflow: hidden;
	float: left;
	height: 100%;
	background-size: 100% 100%;
	/*width: 33%;*/
	flex: 1;
	-webkit-flex: 1;
}
a {
   position: absolute;
   top: 50%;
   left: 40%;
}
.button{
	width: 100px;
	height: 50px;
}
button{
	position: absolute;
	top: 82%;
}


/*太阳自转及其动画*/
#sun{
	position: absolute;
	top: -30px;
	right: 100px;
	z-index: 1;
	width: 201px;
	height: 201px;
	background: url(../images/sun.png) no-repeat;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	animation-name: rotation;
	-webkit-animation-name: rotation;
	animation-duration: 60s;
	-webkit-animation-duration: 60s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.rotation{
	animation-name: rotation;
	-webkit-animation-name: rotation;
	animation-duration: 60s;
	-webkit-animation-duration: 60s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes rotation{
	0%{
		transform: translateX(0) translateY(0) rotate(45deg);
	}
	100%{
		transform: translateX(-2000px) translateY(400px) rotate(70deg);
	}
}
@-webkit-keyframes rotation{
	0%{
		transform: translateX(0) translateY(0) rotate(45deg);
	}
	100%{
		transform: translateX(-2000px) translateY(400px) rotate(70deg);
	}
}

/*云*/
.cloud{
	position: absolute;
	z-index: 2;
}
.cloud1{
	width: 100%;
	height: 30%;
	left: -5%;
	top: 15%;
	background: url(../images/cloud1.png) no-repeat;
	animation-name: smallCloud;
	-webkit-animation-name: smallCloud;
	animation-duration: 30s;
	-webkit-animation-duration: 30s;
	animation-iteration-count:infinite ;
	-webkit-animation-iteration-count:infinite ;
}
.cloud2{
	width: 100%;
	height: 100%;
	right: -5%;
	background: url(../images/cloud2.png) no-repeat;
	animation-name: largeCloud;
	-webkit-animation-name: largeCloud;
	animation-duration: 60s;
	-webkit-animation-duration: 60s;
	animation-iteration-count:infinite ;
	-webkit-animation-iteration-count:infinite ;
}
.cloud1Anim{
	animation-name: smallCloud;
	-webkit-animation-name: smallCloud;
	animation-duration: 30s;
	-webkit-animation-duration: 30s;
	animation-iteration-count:infinite ;
	-webkit-animation-iteration-count:infinite ;
}
.cloud2Anim{
	animation-name: largeCloud;
	-webkit-animation-name: largeCloud;
	animation-duration: 60s;
	-webkit-animation-duration: 60s;
	animation-iteration-count:infinite ;
	-webkit-animation-iteration-count:infinite ;
}
@keyframes smallCloud{
	0%{
		left: -5%;
	}
	100%{
		left: 100%
	}
}
@-webkit-keyframes smallCloud{
	0%{
		left: -5%;
	}
	100%{
		left: 100%
	}
}
@keyframes largeCloud{
	0%{
		right: -5%;
	}
	100%{
		right: 100%
	}
}
@-webkit-keyframes largeCloud{
	0%{
		right: -5%;
	}
	100%{
		right: 100%
	}
}
/*鸟*/
.bird{
	position: absolute;
	top: 10%;
	right: -91px;
	z-index: 10;
	min-width: 91px;
	min-height: 71px;
	background: url(../images/bird.png) -182px 0px no-repeat;
	
}
.birdFly{
	animation-name: birdSlow;
	-webkit-animation-name: birdSlow;
	animation-duration: 400ms;
	-webkit-animation-duration: 400ms;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: step-start;
	-webkit-animation-timing-function: step-start;
}
/*鸟飞的动画*/
@keyframes birdSlow{
	0%{
		background-position: -182px 0px;
	}
	50%{
		background-position: 0px 0px;
	}
	75%{
		background-position: -91px 0px;
	}
	100%{
		background-position: -182px 0px;
	}
}
@-webkit-keyframes birdSlow{
	0%{
		background-position: -182px 0px;
	}
	50%{
		background-position: 0px 0px;
	}
	75%{
		background-position: -91px 0px;
	}
	100%{
		background-position: -182px 0px;
	}
}
.c-background{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
.c-background-top{
	width: 100%;
	height: 71.6%;
	background: url(../images/background/c_background_top.png);
	background-size: 100% 100%;
}
.c-background-middle{
	width: 100%;
	height: 13.1%;
	background: url(../images/background/c_background_middle.png);
	background-size: 100% 100%;
}
.c-background-bottom{
	width: 100%;
	height: 15.3%;
	background: url(../images/background/c_background_botton.png);
	background-size: 100% 100%;
}
/*小女孩*/
.girl{
	position: absolute;
	/*top: 37%;*/
	bottom: 0;
	right: 40%;
	width: 151px;
	height: 291px;
	background: url(../images/girl.png) no-repeat -755px -0px;
}
.girl-rotate{
	animation-name: girlRotate;
	-webkit-animation-name: girlRotate;
	animation-duration: 850ms;
	-webkit-animation-duration: 850ms;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-timing-function: step-start;
	-webkit-animation-timing-function: step-start;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes girlRotate{
	0%{
		background-position: -604px -0px;
	}
	16.7%{
		background-position: -151px -0px;
	}
	33.4%{
		background-position: -906px -0px;
	}
	50.1%{
		background-position: -0px -0px;
	}
	66.8%{
		background-position: -302px -0px;
	}
	83.5%{
		background-position: -453px -0px;
	}
	100%{
		background-position: -604px -0px;
	}
}
@-webkit-keyframes girlRotate{
	0%{
		background-position: -604px -0px;
	}
	16.7%{
		background-position: -151px -0px;
	}
	33.4%{
		background-position: -906px -0px;
	}
	50.1%{
		background-position: -0px -0px;
	}
	66.8%{
		background-position: -302px -0px;
	}
	83.5%{
		background-position: -453px -0px;
	}
	100%{
		background-position: -604px -0px;
	}
}
/*桥*/
.bridge-bottom{
	position: absolute;
	top: 76%;
	left: 29.5%;
	width: 41%;
	height: 24%;
	overflow: hidden;
}
/*水*/
.water{
	width: 100%;
	height: 100%;
}
.water-1,
.water-2,
.water-3,
.water-4{
	position: absolute;
	width: 100%;
	height: 50%;
	animation-name: shake;
	-webkit-animation-name: shake;
	animation-duration: 40s;
	-webkit-animation-duration: 40s;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.water-1{
	top: 13%;
	left: 35%;
	width: 131px;
	height: 15px;
	background: url(../images/water.png) no-repeat -261px -0px;
}
.water-2{
	top: 25%;
	left: 45%;
	width: 161px;
	height: 9px;
	background: url(../images/water.png) no-repeat -693px -0px;
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}
.water-3{
	top: 50%;
	left: 15%;
	width: 261px;
	height: 29px;
	background: url(../images/water.png) no-repeat -0px -0px;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.water-4{
	top: 75%;
	left: 30%;
	width: 301px;
	height: 12px;
	background: url(../images/water.png) no-repeat -392px -0px;
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
@keyframes shake{
	0%,
	100%{
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
	}
	10%,
	30%,
	50%,
	70%,
	90%{
		transform: translate3d(-30px,0,0);
		-webkit-transform: translate3d(-30px,0,0);
	}
	20%,
	40%,
	60%,
	80%{
		transform: translate3d(30px,0,0);
		-webkit-transform: translate3d(30px,0,0);
	}
}
@-webkit-keyframes shake{
	0%,
	100%{
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
	}
	10%,
	30%,
	50%,
	70%,
	90%{
		transform: translate3d(-30px,0,0);
		-webkit-transform: translate3d(-30px,0,0);
	}
	20%,
	40%,
	60%,
	80%{
		transform: translate3d(30px,0,0);
		-webkit-transform: translate3d(30px,0,0);
	}
}
/*星星*/
.stars{
	position: absolute;
	width: 100%;
	height: 100%;
}
.stars > li{
	position: absolute;
	width: 30px;
	height: 31px;
	background: url(../images/stars.png);
	animation-name: flash;
	-webkit-animation-name: flash;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}
.stars1{
	top: 20%;
	left: 30%;
	animation-duration: 5s;
	-webkit-animation-duration: 5s;
}
.stars2{
	top: 15%;
	left: 20%;
	animation-duration: 20s;
	-webkit-animation-duration: 20s;
}
.stars3{
	top: 25%;
	left: 85%;
	animation-duration: 15s;
	-webkit-animation-duration: 15s;
}
.stars4{
	top: 30%;
	height: 70%;
	animation-duration: 25s;
	-webkit-animation-duration: 25s;
}
.stars5{
	top: 25%;
	left: 20%;
	animation-duration: 30s;
	-webkit-animation-duration: 30s;
}
.stars6{
	top: 10%;
	left: 65%;
	animation-duration: 10s;
	-webkit-animation-duration: 10s;
}
@keyframes flash{
	0%,
	50%,
	100%{
		opacity: 1;
	}
	25%,
	75%{
		opacity: 0;
	}
}
@-webkit-keyframes flash{
	0%,
	50%,
	100%{
		opacity: 1;
	}
	25%,
	75%{
		opacity: 0;
	}
}
/*雪花*/
#snowflake{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.snowRoll{
	position: absolute;
	opacity: 0;
	height: 80px;
	animation-name: mysnow;
	-webkit-animation-name: mysnow;
	animation-duration: 20s;
	-webkit-animation-duration: 20s;
}
@keyframes mysnow{
	0%{
		bottom: 100%;
	}
	50%{
		-webkit-transform:rotate(1080deg);
	}
	100%{
		-webkit-transform: rotate(0deg) translate3d(50px,50px,50px);
	}
}
@-webkit-keyframes mysnow{
	0%{
		bottom: 100%;
	}
	50%{
		-webkit-transform:rotate(1080deg);
	}
	100%{
		-webkit-transform: rotate(0deg) translate3d(50px,50px,50px);
	}
}

